@(formType: String, partieForm: Form[Partie], stadion: List[Stadion]) 
@import helper._

	@main(formType + " Partie") {
	
	<h1>@formType Partie</h1>
	
	@helper.form(action = routes.PartiesCtrl.storePartie()) {
	<input type="hidden" id="@partieForm("pid").id"
		name="@partieForm("pid").name"
		value='@partieForm("pid").value' />
	@helper.inputText(partieForm("heimmannschaftName"))
	@helper.inputText(partieForm("gastmannschaftName"))
	@helper.inputDate(partieForm("partieDatum"))
	@select(partieForm("stadion.sid"), stadion.map(s => s.sid.toString -> s.name))
	<input type="submit" value="Save">
	} 
}
