@(formType: String, partieForm: Form[Partie], stadion: List[Stadion]) 
@import helper._
@import java.time.LocalDate;

	@main(formType + " Partie") {
	
	<h1>@formType Partie</h1>
	
	@helper.form(action = routes.PartiesCtrl.storePartie()) {
	<input type="hidden" id="@partieForm("pid").id"
		name="@partieForm("pid").name"
		value='@partieForm("pid").value' />
	@helper.inputText(partieForm("heimmannschaftName"), '_label -> "Heimmannschaft")
	@helper.inputText(partieForm("gastmannschaftName"), '_label -> "Gastmannschaft")
	@helper.inputDate(partieForm("partieDatum"), '_label -> "Datum")
	@select(partieForm("stadion.sid"), stadion.map(s => s.sid.toString -> s.name), '_label -> "Stadion")
	<input type="submit" value="Save">
	} 
}
