@(parties: List[Partie]) 

@import helper._	

@main("Parties") {

	<h1>List of parties</h1>	
	<a href="@routes.PartiesCtrl.createPartie()">Create Partie</a>
	<table>
	@for(partie <- parties) {
		<tr>
			<td>@partie.heimmannschaftName</td>
			<td>@partie.gastmannschaftName</td>
			<td>@partie.partieDatum</td>
			<td>@helper.form(action =
				routes.PartiesCtrl.updatePartie(partie.pid)) { <input
				type="submit" value="Update"> }
			</td>
			<td>@helper.form(action = routes.PartiesCtrl.deletePartie(partie.pid)) { <input
				type="submit" value="Delete" onclick="deleteConfirmation()"> }
			</td>
		</tr>
	}



</table>

}

