@(formType: String, stadionForm: Form[Stadion], parties: List[models.Partie]) 
@import helper._ 

@main(formType + " Stadion") {
	<h1>@formType Stadion</h1>
	@form(routes.StadienCtrl.storeStadion()) {
		<input type="hidden" id="@stadionForm("sid").id"
		name="@stadionForm("sid").name" 
		value='@stadionForm("sid").value' />
	@inputText(stadionForm("name"), '_label -> "Name")
	@textarea(field = stadionForm("addresse"), args = 'rows -> 3, 'cols -> 23, '_label -> "Adresse")
	@inputText(stadionForm("anzahlSitzplaetze"), '_label -> "Anzahl Sitzplätze")
	@inputText(stadionForm("anzahlZugaenge"), '_label -> "Anzahl Zugänge")
	@inputText(stadionForm("sponsor"), '_label -> "Sponsor")
	<input type="submit" value="Save">
	} 
}
