@(formType: String, stadionForm: Form[Stadion], parties: List[models.Partie]) 

@import helper._ 

@main(formType + " Stadion") {
	<h1>@formType Stadion</h1>
	@form(routes.StadienCtrl.storeStadion()) {
		<input type="hidden" id="@stadionForm("sid").id"
		name="@stadionForm("sid").name" 
		value='@stadionForm("sid").value' />
	@inputText(stadionForm("name"))
	@textarea(field = stadionForm("addresse"), args = 'rows -> 3, 'cols -> 23)
	@inputText(stadionForm("anzahlSitzplaetze"))
	@inputText(stadionForm("anzahlZugaenge"))
	@inputText(stadionForm("sponsor"))
	<input type="submit" value="Save">
	} 
}
