@(stadien: List[Stadion]) 

@import helper._

@main("Stadien") {

<h1>Stadienliste</h1>
<a href="@routes.StadienCtrl.createStadion()">Stadion erstellen</a>
<table>
<th>Name</th>
<th>Partien</th>
<th>Adresse</th>
<th>Sponsor</th>
	@for(stadion <- stadien) {
	<tr>
		<td>@stadion.name</td>
		<td>
			<ul>
				@for(partie <- stadion.parties) {
				<li>@partie.heimmannschaftName vs. @partie.gastmannschaftName am @partie.partieDatum</li>
				}
			</ul>
		</td>
		<td>@stadion.addresse</td>
		<td>@stadion.sponsor</td>
		<td>@form(routes.StadienCtrl.updateStadion(stadion.sid)) { 
		<input type="submit" value="Aktualisieren"> }
		</td>
		<td><a href="@routes.StadienCtrl.deleteStadion(stadion.sid)" onclick="return confirm('Sind Sie sicher?');">Entfernen</a>
		</td>
	</tr>
	}
</table>
}
