@(formType: String, stadionForm: Form[Stadion], parties: List[models.Partie]) 

@import helper._ 

@main(formType + " Stadion") {
	<h1>@formType Stadion</h1>
	@form(routes.StadienCtrl.storeStadion()) {
		<input type="hidden" id="@stadionForm("sid").id"
		name="@stadionForm("sid").name" 
		value='@stadionForm("sid").value' />
	@inputText(stadionForm("name"))
	<div>
		<div>
			<strong>Parties</strong>
		</div>
	<div>
	@for(partie <- parties) { 
		<label class="checkbox"> 
		<input type="checkbox" name="parties.pid[]" value="@partie.pid"
			@if(stadionForm.value.isDefined &&
				stadionForm.value.get.parties.contains(partie)) {			
					checked="checked" 
			}
		/>
		@partie.heimmannschaftName
		</label> }
	</div>
</div>
@textarea(field = stadionForm("description"), args = 'rows -> 3, 'cols -> 50)
<input type="submit" value="Save">
	} 
}
