@(parties: List[Partie]) 

@main("Parties") {

<!-- 
Laut Tutorial:
<form>action = "@routes.Partie.create()" method="post">
<input type="text" name="nameHeimat">
<input type="text" name="nameGast">
<input type="text" name="datum">
<button> Partie hinzufügen</button>
</form> -->


	<h1>List of Parties</h1>
	
	<a href="@routes.PartiesCtrl.createPartie()">Create	Partie</a>
	<table>
	@for(partie <- parties) {
		<tr>
			<td>@partie.nameHeimat</td>
			<td>@partie.nameGast</td>
			<td>@partie.datum</td>
			<td>@helper.form(action =
				routes.PartieCtrl.updatePartie(partie.partieID)) { <input
				type="submit" value="Update"> }
			</td>
			<td>@helper.form(action =
				routes.PartieCtrl.deletePartiee(partie.partieID)) { <input
				type="submit" value="Delete"> }
			</td>
		</tr>
	}
</table>
}
