.mainDiv {
	display: flex;
	justify-content: space-between;
}

.item {
    position: relative;
    float: left;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

#right{
	position: absolute;

}

#details h2{
	display: inline;
}

.arc {
	white-space: pre-line;
}

.tspan {
}

#modul_id{
	text-align: center; 
}

#name{

}

#ects{

}


