.mainDiv {
	display: flex;
	justify-content: space-between;
	width:1000px;
}

/*left*/

.item {
    position: relative;
    float: left;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}



/*right*/
/*Hier kommt CSS-Code für den Text rechts hin*/

/*.modulId {

} */







