

/*header*/

head{
font-family:"Libre Sans";

}
body{
font-family: "Libre Sans";
background-color:#afd1d1;
display: flex;

}


Seiteneinteilung
#links, #mitte, #rechts{
width: 200px;
height: 300px;
}
#links{
background-color:#00ff00;
-moz-box-flex:1;
}
#mitte{
background-color:red;
-moz-box-flex:2;
}
#rechts{
background-color:#ffff00;
-moz-box-flex:3;
}



/*menu*/
 #menu {
float:left;

font-family:"Arial";
margin-right:50px;

}

 #menu li{
list-style-type:none;
font-weight: bold;
width:8em;
/*margin-left:-2.5em;*/
text-align:center;

}

#menu a{
text-decoration:none;
color:black;
border:3px blue outset;
background-color:#CCCCFF;
display:block;
border-radius:10px;
}
#menu a:hover{
border: 3px blue inset;
}

/*div-elements*/
li ul{
display:none;
}
li:hover ul{
display: block;
}
section{
width:1000px;
}
aside{
background-color:red;
float:right;
}


/*Funktionen*/
a:hover{
background-color: white;
}



/* index - Länderelemente (abger. Ecken)*/
div {
}
.mainChina{
  	position: relative;
        top: 50px;
    	left: 80%;
  	border: 2px solid white;
	color:white;
	font-size: 15;
	border-radius: 5em;
	padding: 3em;
	width: 40em;
	background-color: red;
}

.mainGhana{
	position: relative;
 	top: 75px;
 	left: 80%;
  	border: 2px solid white;
	color:white;
	font-size: 15;
	border-radius: 5em;
	padding: 3em;
	width: 40em;
	background-color: red;
}

.mainItalien{
 	position: relative;
 	top: 100px;
 	left: 80%;
  	border: 2px solid white;
	color:white;
	font-size: 15;
	border-radius: 5em;
	padding: 3em;
	width: 40em;
	background-color: red;
}
.mainKuba{
 	position: relative;
 	top: 125px;
 	left: 80%;
  	border: 2px solid white;
	color:white;
	font-size: 15;
	border-radius: 5em;
	padding: 3em;
	width: 40em;
	background-color: red;
}
.mainPolen{
 	position: relative;
 	top: 150px;
 	left: 80%;
  	border: 2px solid white;
	color:white;
	font-size: 15;
	border-radius: 5em;
	padding: 3em;
	width: 40em;
	background-color: red;
}
}



/*index - Text unter den Länderelementen*/
div{
}

.textüberschriftMain{
position: relative
top: 200px;
 	left: 80%;
font-family: sans-serif;
font-size: 26px;
font-weight: bold;
color: black;
line-height: 140%;
letter-spacing: 1px;
}

.textinhaltMain {
position: relative
top: 200px;
 	left: 80%;
font-family: sans-serif;
font-size: 22px;
font-weight: bold;
color: black;
line-height: 140%;
letter-spacing: 1px;
	
}

color:white;
	font-size: 15;
}
