body {
	font-family: "Arial";
	text-align: justify;
	background-image : url("images/Hintergrundbild.png"); 

	/* background-color:#81F7D8; */
	/* background-color:#F3E2A9; */
}

section {
	display: flex;
	justify-content: space-between;
	width:1000px;
}


Seiteneinteilung
#links, #mitte, #rechts{
	<!--width: 200px;-->
}

#links{
}

#mitte{
	min-width: 700px;
}

#rechts{
	/* left: 220 em; */
	margin: 30px;
}


/*menu*/
 #menu {
	float:left;
	font-family:"Arial";
	margin-right:50px;
}

 #menu li{
	list-style-type:none;
	font-weight: bold;
	width:8em;
	/*margin-left:-2.5em;*/
	text-align:center;
}

#menu a{
	text-decoration:none;
	color:black;
	border:3px blue outset;
	background-color:#CCCCFF;
	display:block;
	border-radius:10px;
}

#menu a:hover{
	border: 3px blue inset;
}

#menu a#curNav{
color:lightgreen;
background-color:darkblue;

}

/*div-elements*/
li ul{
	display:none;
}

li:hover ul{
	display: block;
}


/*Funktionen*/
a:hover{
	background-color: white;
}


%% index - Überschriften
h1 {
	color: blue;
	text-align: center;
}

h2 {
	color: darkblue;
	text-align: center;
}

/* index - Länderelemente (abger. Ecken)*/
div {
}

.mainChina{
  	position: relative;
 	top: 30px;
 	left: 10%;
  	border: 2px solid white;
	color:#006699;
	text-align: center;
	font-size: 15 pt;
	border-radius: 4em;
	padding: 2em;
	width: 15em;
	background-color: #0099FF;
}

.mainGhana{
	position: relative;
 	top: -120px;
 	left: 35%;
  	border: 2px solid white;
	color:#006699;
	text-align: center;
	font-size: 15 pt;
	border-radius: 4em;
	padding: 2em;
	width: 15em;
	background-color: #6699FF;
}

.mainItalien{
 	position: relative;
 	top: -263px;
 	left: 60%;
  	border: 2px solid white;
	color:#006699;
	text-align: center;
	font-size: 15 pt;
	border-radius:  4em;
	padding: 2em;
	width: 15em;
	background-color: #66CCFF;
}

.mainKuba{
 	position: relative;
 	top: -225px;
 	left: 22%;
  	border: 2px solid white;
	color:#006699;
	text-align: center;
	font-size: 15 pt;
	border-radius: 4em;
	padding: 2em;
	width: 15em;
	background-color: #66FFFF;
}

.mainPolen{
 	position: relative;
 	top: -370px;
 	left: 47%;
  	border: 2px solid white;
	color:#006699;
	font-size:15 pt;
	text-align: center;
	border-radius: 4em;
	padding: 2em;
	width: 15em;
	background-color: #CCFFFF;
}

/*index - Text unter den Länderelementen*/
div{
}

.textueberschriftMain{
	text-align: center;
	color: #0066CC;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20pt;
}

.textinhaltMain {
	text-align: center;
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #0066CC;
}

.zentriert{ 
	padding-top: 2em; 
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.linkInFooter{
	padding-top: 2em; 
	padding-left: 1em; 
	display: inline;
}
