

%%header

head{
font-family:"Libre Sans";
}
body{
font-family:"Arial";
background-color:#00ffff;
display:-moz-box;

}
%%Seiteneinteilung
#links, #mitte, #rechts{
width: 100px;
height: 300px;
}
#links{
background-color:#00ff00;
-moz-box-flex:1;
}
#mitte{
background-color:red;
-moz-box-flex:2;
}
#rechts{
background-color:#ffff00;
-moz-box-flex:3;
}

%%menu
 #menu {
float:left;

font-family:"Arial";
margin-right:50px;

}

 #menu li{
list-style-type:none;
font-weight: bold;
width:8em;
%%margin-left:-2.5em;
text-align:center;


}

#menu a{
text-decoration:none;
color:black;
border:3px blue outset;
background-color:#CCCCFF;
display:block;
border-radius:10px;
}
#menu a:hover{
border: 3px blue inset;
}

%%div-elements
li ul{
display:none;
}
li:hover ul{
display: block;
}
section{
width:1000px;
}
aside{
background-color:red;
float:right;
}
%%Funktionen
a:hover{
background-color: white;
}

%% index
#tableContent {
background-color: red;
font-size: 30pt;
}

%% index
#EinführungstextUnterTabelle{
font-size: 30pt;
}
