@(formType: String, partieForm: Form[Partie]) 

	@main(formType + " Partie") {
	
	<h1>@formType Partie</h1>
	
	@helper.form(action = routes.PartiesCtrl.storePartie()) {
	<input type="hidden" id="@partieForm("pid").id"
		heimmannschaftName="@partieForm("pid").heimmannschaftName"
		value='@partieForm("pid").value' />
	@helper.inputText(partieForm("heimmannschaftName"))
	@helper.inputText(partieForm("description"))
	<input type="submit" value="Save">
	} 

	// TODO: HIER MÜSSEN DANN ABER AUCH DIE ANDEREN ELEMENTE REIN, ODER? 
}
